:root {
  // цвета
  --high-fidelity-color-main-background: #11011e;
  --high-fidelity-color-card-background: rgba(255, 255, 255, 0.05);
  --high-fidelity-color-primary-color: #0fae96;
  --high-fidelity-color-secondary-color: #511281;
  --wireframe-color-light-grey: #eaeaea;
  --wireframe-color-grey-subtitle: #808080;
  --wireframe-color-pure-black: #000;
  --wireframe-color-grey: #c6c6c6;
  --font-color-black-title: #2b2b2b;
  --font-color-pure-white: #fff;
  --font-color-light-subtitle: #b6b6b6;
  --font-color-light-title: #ecf1f0;

  // шрифты
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
