.caption {
  &-medium1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }
  &-reguler1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
  &-medium2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
  }
  &-reguler2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
  }
}
