.heading {
  &-1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 179%;
  }
  &-2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
  }
  &-3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 122%;
  }
  &-4 {
    font-weight: 600;
    font-size: 28px;
    line-height: 179%;
  }
  &-5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
  }
  &-6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
  }
}
