.label{
    &-semibold1{
        font-weight: 600;
font-size: 16px;
line-height: 150%;
    }
    &-medium1{
font-weight: 500;
font-size: 16px;
line-height: 150%;
    }
    &-semibold2{
font-weight: 600;
font-size: 12px;
line-height: 133%;
    }
    &-medium2{
font-weight: 500;
font-size: 12px;
line-height: 133%;
    }
}