.subtitle {
  &-medium1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
  }
  &-reguler1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
  }
  &-medium2 {
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;
  }
  &-reguler2 {
    font-weight: 400;
    font-size: 15px;
    line-height: 144%;
  }
}
