.footer {
  &__inner {
    display: flex;
    align-items: center;
    padding: 61px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }

  &__contact {
    width: 287px;
    margin-right: 241px;
  }
  &__logo {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    color: var(--font-color-pure-white);
    margin-right: 280px;
    line-height: 150%;
    margin-bottom: 65px;
  }

  &__logo span {
    color: var(--high-fidelity-color-primary-color);
  }
  &__socials {
    display: flex;
    gap: 12px;
    margin-bottom: 32px;
  }
  &__social {
    display: flex;
  }
  &__copyrigth {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--font-color-light-subtitle);
  }
  &__lists {
    display: flex;
    gap: 139px;
  }
  &__list {
    min-width: 137px;
  }
  &__item {
    margin-bottom: 20px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }
  &__item-title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
    color: var(--font-color-light-title);
  }
  &__item-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--font-color-light-subtitle);
  }
}
