.market {
  margin-bottom: 186px;
  &__title {
    color: var(--font-color-light-title);
    margin-bottom: 24px;
    text-align: start;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
  &__card {
    color: var(--font-color-light-title);
    background: var(--high-fidelity-color-card-background);
    padding: 18px 21px;
    width: 297px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 18px;
  }
  &__card-top {
    display: flex;
    align-items: center;
    padding-bottom: 18px;
    border-bottom: solid 1px rgba($color: #ecf1f0, $alpha: 0.05);
  }
  &__card-img {
    margin-right: 14px;
  }
  &__card-tlt {
    margin-right: 14px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
  }
  &__card-title {
    border-radius: 4px;
    padding: 4px 6px;
    height: 20px;
    font-weight: 600;
    font-size: 10px;
    color: #1d1429;
    background: var(--wireframe-color-grey);
  }
  &__card-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 34px;
    height: 34px;
    background: var(--font-color-pure-white);
    opacity: 1;
    margin-left: auto;
    margin-right: 7px;
  }


  &__card-bottom {
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-info {
      display: flex;
      flex-direction: column;
    }
    &-course {
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 9px;
    }
    &-percentages {
      color: var(--font-color-light-subtitle);
    }
    &-graphic {
    margin-top: 20px;
    }
  }
}
